header {
	position: fixed;
	width: 100%;
	height: auto;
	background-color: #000;
}
.nav-inner {
	max-height: 300px;
	height: 300px;
	position: relative;
}
.nav-wrapper {
  max-width: 1400px;
  max-height: 300px;
  margin: 0 auto;
  padding: 1.5%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  height: inherit;
}
.nav-push {
  margin-top: -65px;
  position: relative;
}
.bg {
	display: block;
	position: absolute;
	top: 0;
	left: 50%;
	width: 1600px;
	height: 100%;
	z-index: -1;
	background-position: center;
	background-image: url(../img/beach.jpg);
	background-size: cover;
	transform: translate3d(0, 0, 0);
	transform: translateX(-50%);
}
.logo {
	display: block;
  top: 50%;
  width: 100%;
  max-width: 350px;
  height: 100%;
  max-height: 130px;
  margin: -65px auto 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../img/Acme.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
main {
  position: relative;
  top: 300px;
  height: 1600px;
  background-color: #000;
}